<script src="catalog/view/javascript/moment.min.js" type="text/javascript"></script>
<script>
  //Yandex Ecommerce
  {% if options %}
    if (typeof dataLayer != 'undefined') {
      {% for option in options %}
      {% for option_value in option.product_option_value %}
      dataLayer.push({
        "ecommerce": {
          "currencyCode": "RUB",
          "detail": {
            "products": [
              {
                "id": "{{ js_model }}" || "{{ product_id }}",
                "name": "{{ js_heading_title }}",
                "price": parseFloat("{{ option_value.price_raw }}"),
                "category": "{{ categories }}",
                "variant": "{{ option_value.js_name }}"
              }
            ]
          }
        }
      });
      {% endfor %}
      {% endfor %}
    }
  {% else %}
    if (typeof dataLayer != 'undefined') {
      dataLayer.push({
        "ecommerce": {
          "currencyCode": "RUB",
          "detail": {
            "products": [
              {
                "id": "{{ js_model }}" || "{{ product_id }}",
                "name" : "{{ js_heading_title }}",
                "price": parseFloat("{{ price_raw }}"),
                "category" : "{{ categories }}"
              }
            ]
          }
        }
      });
    }
  {% endif %}
</script>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script>

<script type="text/javascript"><!--

  function isset(variable) {
    return (typeof(variable) != "undefined" && variable !== null);
  }

  if (!isset(days)) {
    var days = {
      mon: 'Пн',
      tue: 'Вт',
      wed: 'Ср',
      thu: 'Чт',
      fri: 'Пт',
      sat: 'Сб',
      sun: 'Вс'
    };
  }

  if (!isset(time_format)) {
    var time_format = 'H:mm';
  }

  function get_warehouse_info() {
    $.ajax({
      url: 'index.php?route=product/product_warehouse',
      type: 'POST',
      data: {product_id: '{{ product_id }}', option_value_id: $('select.product-option').find('option:selected').data('optionvalueid') || 0},
      dataType: 'JSON',
      beforeSend: function() {
        $('.product-warehouse').html('<div class="lds-ring"><div></div><div></div><div></div><div></div></div>');
      },
      success: function(json) {
        if (json) {
          if (!($('#product-warehouse-modal').length)) {
            $('body').append('<div id="product-warehouse-modal" class="modal fade" role="dialog"></div>');
          }

          var warehouses = '<div class="modal-dialog"><div class="modal-content">';
          warehouses += '<div class="modal-header flex-container flex-center flex-justify"><h3 class="header-1">Наличие товара (Хабаровск)</h3><button type="button" class="close button-remove transparent" data-dismiss="modal"><img src="image/src/ic-disable.svg" alt="Удалить" style="width: 24px;"></button></div>';
          warehouses += '<div class="modal-body"><div class="flex-container flex-center flex-justify"><div class="product-warehouse-info">';
          $.each(json['warehouses'], function(index, el) {
            warehouses += '<div class="flex-container flex-center flex-justify"><div><h4 class="product-warehouse-name header-3">' + el['name'] + '</h4><p class="product-warehouse-address secondary">' + el['address'] + '</p>';
            var working_hours = [];
            $.each(el['working_hours'], function(k, v) {
              working_hours.push(days[v['starting_day']] + (v['starting_day'] != v['ending_day'] ? ("-" + days[v['ending_day']]) : '') + " " + moment(v['starting_time'], "H:mm:ss").format(time_format) + " – " + moment(v['ending_time'], "H:mm:ss").format(time_format));
            });
            warehouses += '<p class="product-warehouse-hours subparagraph">' + working_hours.join(", ") + '</p></div>';
            warehouses += '<div>' + (el['quantity'] ? ('<p class="product-warehouse-quantity third">сегодня: ' + el['quantity'] + ' шт.</p>') : '<p class="product-warehouse-quantity text-medium">Нет в наличии</p>') + '</div></div>';
          });
          warehouses += '</div>';
          warehouses += '</div>';

          $('#product-warehouse-modal').html(warehouses);

          if (json['count']) {
            $('.product-warehouse').html('В наличии: <a href data-toggle="modal" data-target="#product-warehouse-modal">в ' + json['count'] + ' ' + ((json['count'] % 100 >= 11 && json['count'] % 100 <= 19) || json['count'] % 10 >= 5 ? 'магазинах' : (json['count'] % 10 == 1 ? 'магазине' : 'магазинах')));
          } else {
            $('.product-warehouse').html('Нет в наличии');
          }

          $('.product-warehouse').show();
        }
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }

  get_warehouse_info();

  var option_value_ids = [];
  var option_characteristics = {};
  var option_value_characteristics = {};
  var option_characteristics_table = [];
  var option_characteristics_length = 0;

  $('select.product-option option').each(function() {
    option_value_ids.push($(this).data('optionvalueid'));
  });

  function get_option_value_characteristics() {
    $.ajax({
      url: 'index.php?route=product/option_value_characteristic/getOptionValueCharacteristics',
      type: 'POST',
      data: {option_value_ids: option_value_ids},
      dataType: 'JSON',
      success: function(json) {
        // console.log(json);
        $.each(json, function(index, el) {
          option_value_characteristics[JSON.stringify(el)] = index;
        });
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }

  function get_option_characteristics() {
    $.ajax({
      url: 'index.php?route=product/option_value_characteristic/getAllOptionCharacteristics',
      type: 'POST',
      data: {option_value_ids: option_value_ids},
      dataType: 'JSON',
      beforeSend: function() {
        $('.option-value-characteristic').show().html('<div class="lds-ring"><div></div><div></div><div></div><div></div></div>');
      },
      success: function(json) {
        var chars = "";
        if (json['grouped'].length > 0) {
          option_characteristics_length = json['grouped'].length;
          option_characteristics_table = json['raw'];
          $.each(json['grouped'], function(index, el) {
            option_characteristics[index] = el['characteristic_id'];
            chars += '<div class="flex-container flex-center flex-justify"><label>' + el['name'] + '</label>';
            if (el['type'] == 'select') {
              chars += '<div class="option-select flex-container flex-center flex-list">'
              $.each(el['characteristic'], function(k, v) {
                chars += '<div class="select-radio-button"><input type="radio" name="select-' + el['characteristic_id'] + '" ';
                chars += 'data-characteristicid="' + el['characteristic_id'] + '" ' + "data-select='" + v['value'] + "' " + 'name="select-' + el['characteristic_id'] + '" id="select-' + el['characteristic_id']+v['value'] + '" value="' + v['option_value_id'] + '" data-type="' + el['type'] + '"><label for="select-' + el['characteristic_id']+v['value'] + '">';
                chars += '<span>' + v['value'] + '</span></label></div>';
              });
              chars += '</div>';
            } else if (el['type'] == 'colors') {
              chars += '<div class="option-colors flex-container flex-center flex-list">'
              $.each(el['characteristic'], function(k, v) {
                chars += '<div class="color-radio-button"><input type="radio" name="colors-' + el['characteristic_id'] + '" ';
                $.each(v['value'], function(color, color_code) {
                  var obj = {};
                  obj[color] = color_code;
                  chars += 'data-characteristicid="' + el['characteristic_id'] + '" ' + "data-color='" + JSON.stringify(obj) + "' " + 'name="colors-' + el['characteristic_id'] + '" id="colors-' + color+color_code + '" value="' + v['option_value_id'] + '" data-type="' + el['type'] + '"><label for="colors-' + color+color_code + '" data-toggle="tooltip" title="' + color + '">';
                  if (color_code == "") {
                    chars += '<span><span>' + color + '</span></span></label>';
                  } else {
                    chars += '<span style="background-color: ' + color_code + '"></span></label>';
                  }
                  chars += '</label>'
                });
                chars += '</div>';
              });
              chars += '</div>';
            }
            chars += '</div>';
          });
        } else {
          $('select.product-option').parent().show();
          $('#button-cart').prop('disabled', false);
        }
        $('.option-value-characteristic').html(chars);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }

  function findOne(haystack, arr) {
    return arr.some(function(v) {
      return haystack.includes(v);
    });
  }

  function get_available_options(el) {
    if ($(el).is('select')) {
      // console.log('this is select');
      // console.log($(el).data('characteristicid'));
      var options = option_characteristics_table.filter(function(e) {
        return e.value == $(el).find('option:selected').text();
      }).map(function(value, index) {
        return value['option_value_id'];
      });
    } else if ($(el).is('input[type=radio]')) {
      // console.log('this is radio');
      if ($(el).data('type') == 'select') {
        // console.log($(el).data('select'));
        var options = option_characteristics_table.filter(function(e) {
          return e.value == $(el).data('select');
        }).map(function(value, index) {
          return value['option_value_id'];
        });
      } else if ($(el).data('type') == 'colors') {
        // console.log($(el).data('color'));
        var options = option_characteristics_table.filter(function(e) {
          return e.value == JSON.stringify($(el).data('color'));
        }).map(function(value, index) {
          return value['option_value_id'];
        });
      }
    }

    if (option_characteristics_length > 1) {
      var available_options = option_characteristics_table.filter(function(e) {
        return findOne(e.option_value_id, options) && e.characteristic_id != $(el).data('characteristicid');
      });
    
      var keep_options = {};
      $.each(available_options, function(index, e) {
        if (!isset(keep_options[e['type']])) {
          keep_options[e['type']] = {};
        }
        if (!isset(keep_options[e['type']][e['characteristic_id']])) {
          keep_options[e['type']][e['characteristic_id']] = [];
        }
        keep_options[e['type']][e['characteristic_id']].push(e['value']);
      });

      // console.log(options);
      // console.log(available_options);
      // console.log(keep_options);

      $.each(keep_options, function(index, e) {
        if (index == 'select') {
          $.each(e, function(k, v) {
            $('.option-value-characteristic select[data-characteristicid=' + k + ']').find('option').each(function() {
              if (v.includes($(this).text())) {
                // console.log($(this).text() + ' is enabled');
                $(this).prop('disabled', false);
              } else {
               // console.log($(this).text() + ' is disabled');
                $(this).prop('disabled', true);
              }
            });
            $('.option-value-characteristic .option-select input[data-characteristicid=' + k + ']').each(function() {
              if (v.includes($(this).data('select').toString())) {
                // console.log($(this).data('select') + ' is enabled');
                $(this).prop('disabled', false);
              } else {
               // console.log($(this).data('select') + ' is disabled');
                $(this).prop('disabled', true);
              }
            });
          });
        } else if (index == 'colors') {
          $.each(e, function(k, v) {
            $('.option-value-characteristic .option-colors input[data-characteristicid=' + k + ']').each(function() {
              if (v.includes(JSON.stringify($(this).data('color')))) {
                // console.log(JSON.stringify($(this).data('color')) + ' is enabled');
                $(this).prop('disabled', false);
              } else {
                // console.log(JSON.stringify($(this).data('color')) + ' is disabled');
                $(this).prop('disabled', true);
              }
            });
          });
        } 
      });
    }
  }

  function get_option_value_by_characteristic() {
    var ovc = {};
    $('.option-value-characteristic select').find('option:selected').each(function() {
      ovc[$(this).data('characteristicid')] = $(this).text();
    });
     $('.option-value-characteristic .option-select').find('input:checked').each(function() {
      ovc[$(this).data('characteristicid')] = $(this).data('select').toString();
    });
    $('.option-value-characteristic .option-colors').find('input:checked').each(function() {
      ovc[$(this).data('characteristicid')] = JSON.stringify($(this).data('color'));
    });

    // console.log(JSON.stringify(ovc));
    // console.log(option_value_characteristics);
    ovc = JSON.stringify(ovc);
    if (isset(option_value_characteristics[ovc])) {
      // console.log(option_value_characteristics[ovc]);
      $('select.product-option').val($('select.product-option option[data-optionvalueid="' + option_value_characteristics[ovc] + '"').val()).change();
      $('#button-cart').prop('disabled', false);
    } else {
      // console.log("option not found");
      $('#button-cart').prop('disabled', true);
    }
  }

  if (option_value_ids.length > 0) {
    get_option_characteristics();
    get_option_value_characteristics();
  } else {
    $('#button-cart').prop('disabled', false);
  }

  $('body').on('change', '.option-value-characteristic select, .option-value-characteristic .option-colors input, .option-value-characteristic .option-select input', function() {
    get_available_options(this);
    get_option_value_by_characteristic();
  });

  $('select.product-option').change(function(){
    var price = $(this).find('option:selected').data("price");
    var price_old = $(this).find('option:selected').data("priceold");
    $('.product-buy-{{ product_id }} .product-price .price').attr("data-price", price);
    $('.product-buy-{{ product_id }} .product-price .price-old').text(price_old);
    $('.product-buy-{{ product_id }} .product-buy-quantity input[name="quantity"]').trigger('focusout');
    get_warehouse_info();
  });
//--></script> 

<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'number\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#cart > .btn').removeClass('added');
		},
		complete: function() {
			//$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				setTimeout(function () {
          $('#cart > .btn').addClass('added');
          $('.button-cart-total').text(json['total']);
          $('.button-cart-sum').text(json['sum']);
          $('#button-cart').html('<span class="cart-icon"></span>В корзине').attr("onclick", "location.href = 'checkout'").addClass('active').unbind();
        }, 100);

				

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
        
        sendYandexEcommerce({
            "id": json['metrika']['id'],
            "name": json['metrika']['name'],
            "price": parseFloat(json['metrika']['price']),
            "category": json['metrika']['category'],
            "quantity": json['metrika']['quantity'],
            "variant" : json['metrika']['variant']
          }, "add");
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
  var galleryThumbs = new Swiper('.gallery-bottom', {
      spaceBetween: 10,
      slidesPerView: 5,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        init: function() {
          if (this.slides.length <= 5) {
            $('.swiper-button-prev, .swiper-button-next').hide();
          }
        }
      }
    });
  var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      thumbs: {
        swiper: galleryThumbs,
      },
    });
  setTimeout(function() { $('.gallery-bottom').css('height', '100%'); }, 200);
  
});
//--></script> 
<script src="catalog/view/javascript/blowup.min.js" type="text/javascript"></script>
<script>
  $(document).ready(function() {
    $('.gallery-top img, .product-thumbnail > .thumbnail:not(.thumbnail-placeholder) img').each(function() {
      $(this).blowup();
    });
  });
</script>