<!--footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="flex-container flex-justify mobile-block">
        <div class="logo">
          {% if logo_footer %}
            {% if home == og_url %}
              <img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo_footer }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% elseif logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"/></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>
        <ul class="list-unstyled">
          <li><h3>Помощь</h3></li>
          <li><a class="caption" href="agreement">Пользовательское соглашение</a></li>
          <li><a class="caption" href="policy">Политика конфиденциальности</a></li>
          <li><a class="caption" href="returns">Возврат и оплата товара</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3>Покупателям</h3></li>
          <li><a class="caption" href="about">О нас</a></li>
          <li><a class="caption" href="contacts">Контакты</a></li>
          <li><a class="caption" href="buyers">Доставка</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3>Оставайтесь на связи</h3></li>
          <li class="footer-social flex-list">
            <a href="https://vk.com" target="_blank" rel="noopener noreferrer"><img src="image/src/vk.svg" alt="VK" title="Вконтакте"></a>
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"><img src="image/src/fb.svg" alt="FB" title="Facebook"></a>
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><img src="image/src/twitter.svg" alt="Twitter" title="Twitter"></a>
            <a href="https://youtube.com" target="_blank" rel="noopener noreferrer"><img src="image/src/yt.svg" alt="YT" title="YouTube"></a>
            <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"><img src="image/src/inst.svg" alt="Instagram" title="Instagram"></a>
          </li>
          <li><p>{{ telephone }} <span class="caption text-medium-d">({{ open }})</span></p></li>
          <li><a class="caption" href="contacts">Адреса магазинов в г. Хабаровск</a></li>
        </ul>
      </div>
      <hr>
      <div class="flex-container flex-center flex-justify item-title">
        <p class="text-medium-d">© {{ year }} {{ store_name }}</p>
        <a class="text-medium-d" href="https://4ait.ru" target="_blank" rel="noopener noreferrer">Разработка 4А</a>
      </div>
    </div>
  </div>
</footer-->
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>