{{ header }}
<div id="common-home">
    <div class="home-content flex-container flex-column">
        <div class="home-block-wrapper">
            <div class="home-block container home-block-1 active flex-container flex-center">
                <div>
                    <h1>4А</h1>
                    <p>Ваш проводник в мире технологий.</p>
                </div>
            </div>
            <div class="home-block container home-block-2 flex-container flex-center">
                <div>
                    <h1>Digital решения<br>для бизнеса</h1>
                    <p>Мы разрабатываем единый комплекс цифровых решений для автоматизации бизнеса.<br><br>Мы уделяем особое внимание потребностям клиентов, поэтому развиваем платформу для охвата всех сфер бизнеса.</p>
                </div>
            </div>
            <div class="home-block container home-block-3 flex-container flex-center">
                <div>
                    <h1>Trade – платформа для автоматизации бизнеса</h1>
                    <p>Trade – передовая синергия цифровых технологий, позволяет перевести бизнес в онлайн и автоматизировать целый комплекс задач.</p>
                </div>
            </div>
            <div class="home-block container home-block-4 flex-container flex-center">
                <div>
                    <h1>EasyKKM – автоматизация расчетов</h1>
                    <p>Облегчает работу розничных магазинов и легко масштабируется для крупных retail-сетей. EasyKKM позволяет вести контроль продаж на торговых точках в реальном времени.</p>
                </div>
            </div>
            <div class="home-block container home-block-5 flex-container flex-center">
                <div>
                    <h1>Watcher – интеллектуальная система видеонаблюдения</h1>
                    <p>Комплекс видонаблюдения с возможностью подключения Искусственного Интеллекта для обработки событий с камер.</p>
                </div> 
            </div>
        </div>
        <div class="home-footer container">
            <div class="flex-container flex-center flex-justify">
                <p class="home-block-2">Digital-решения</p>
                <p class="home-block-3">Trade</p>
                <p class="home-block-4">EasyKKM</p>
                <p class="home-block-5">Watcher</p>
            </div>
        </div>
    </div>
</div>
<script>
    $('.home-footer p').click(function(event) {
        var c = '.' + $(this).attr('class');
        $(c).addClass('active');
        $('.home-block, .home-footer p').not(c).removeClass('active');
    });
</script>
{{ footer }}