{% if options or show_price %}
<div class="ocf-offcanvas ocfilter-mobile hidden-sm hidden-md hidden-lg">
  <div class="ocfilter-mobile-handle">
    <button type="button" class="btn text-medium" data-toggle="offcanvas"><i class="fa fa-close"></i></button>
  </div>
  <div class="ocf-offcanvas-body"></div>
</div>

<div class="panel ocfilter panel-default" id="ocfilter">
  <div class="hidden" id="ocfilter-button">
    <button class="btn btn-primary disabled" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Загрузка.."></button>
  </div>
  <div class="list-group">
    {% include 'default/template/extension/module/ocfilter/selected_filter.twig' %}

    {% include 'default/template/extension/module/ocfilter/filter_price.twig' %}

    {% include 'default/template/extension/module/ocfilter/filter_list.twig' %}
  </div>
</div>
<script type="text/javascript"><!--
$(function() {

  $('body').on('click', '.ocfilter-dropdown button', function(event) {
    $(this).parent('.ocfilter-dropdown').toggleClass('open');
  });

  $('body').append($('.ocfilter-mobile').remove().get(0).outerHTML);

	var options = {
    mobile: $('.ocfilter-mobile').is(':visible'),
    php: {
      searchButton : {{ search_button ? 'true' : 'false' }},
      showPrice    : {{ show_price ? 'true' : 'false' }},
	    showCounter  : {{ show_counter ? 'true' : 'false' }},
			manualPrice  : {{ manual_price ? 'true' : 'false' }},
      link         : '{{ link }}',
	    path         : '{{ path }}',
	    params       : '{{ params }}',
	    index        : '{{ index }}'
	  },
    text: {
	    show_all: '{{ text_show_all }}',
	    hide    : '{{ text_hide }}',
	    load    : '{{ text_load }}',
			any     : '{{ text_any }}',
	    select  : '{{ button_select }}'
	  }
	};

  if (options.mobile) {
    $('.ocf-offcanvas-body').html($('#ocfilter').remove().get(0).outerHTML);
  }

  $('[data-toggle="offcanvas"]').on('click', function(e) {
    $('[data-toggle="offcanvas"]').toggleClass('active');
    $('body').toggleClass('modal-open');
    $('.ocfilter-mobile').toggleClass('active');
  });

  setTimeout(function() {
    $('#ocfilter').ocfilter(options);
  }, 1);
});
//--></script>
{% endif %}